# SPDX-FileCopyrightText: 2023 Fredrik Salomonsson <plattfot@posteo.net>
#
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=Run baksnapper@%i each night
After=network-online.target

[Timer]
OnCalendar=00:20
Persistent=true

[Install]
WantedBy=timers.target


