[Unit]
Description=Run baksnapper@%i each night
After=network-online.target

[Timer]
OnCalendar=00:20
Persistent=true

[Install]
WantedBy=timers.target


