[Unit]
Description=Backup snapper snapshots to backup location described by the config file: %<BSCONF_ROOT>/%I

[Service]
Type=oneshot
ExecStart=/usr/bin/baksnapper --configfile <BSCONF_ROOT>/baksnapper/%I

