[Unit]
Description=Backup %i snapper snapshots to local location

[Service]
Type=oneshot
ExecStart=/usr/bin/baksnapper --config %i --all --prune --ssh <address> <destination>