# SPDX-FileCopyrightText: 2025 Fredrik Salomonsson <plattfot@posteo.net>
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Install dependencies
      run: sudo apt-get install -y guile-3.0
    - name: Install meson
      run: pip3 install --upgrade meson
    - name: Setup
      run: meson setup build
    - name: Run tests
      run: meson test -C build
